<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style/reset.css">
    <link rel="stylesheet" href="./style/style.css">
    <script defer src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script defer src="./script/main.js"></script>
</head>

<body>
    <div id="root">
        <header class="header">
            <nav class="header__list">
                <button class="header__menu">menu</button>
                <input type="text" class="header__search" v-model='search' />
                <button class="header__search-button" type="button" @click="filterItems">search</button>

                <div class="header__basket">
                    {{ calculate }}
                    <button class="header__basket-button" type="button"
                        @click="isVisibleCart=!isVisibleCart">basket</button>
                </div>
            </nav>
        </header>
        <main>
            <div class="basket" v-if="isVisibleCart">
                <ul class="basket__list">
                    <li class="basket__item" v-for="item in products">
                        <h2>{{ item.product_name }}</h2>
                        <h3>{{ item.price }}</h3>
                        <p>{{ item.quantity }}</p>
                    </li>
                </ul>
            </div>

            <div class="catalog">
                <div class="catalog__products-list" v-if="filteredItems!=0">
                    <div class="catalog__item" v-for="item in filteredItems">
                        <div class="catalog__item-img">product</div>
                        <h3>{{ item.product_name }}</h3>
                        <p>{{ item.price }}</p>
                    </div>
                </div>
                <div class="catalog__empty" v-else>
                    <h2 class="catalog__empty-heading">НЕТ ДАННЫХ</h2>
                </div>
            </div>
        </main>

    </div>


</body>

</html>